<div class="container-fluid" style="margin-top:65px;"  id="form_login">



  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group" >
      <label for="email">Email</label>
      <input [(ngModel)]="user.email" name="email" type="email" required class="form-control" id="email" placeholder="enter your email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="user.password" name="password" type="password" required class="form-control" id="password"
        placeholder="enter a password">
    </div>

    <button type="submit" class="btn btn btn-dark">Login</button>
    <a [routerLink]="['/']" class="btn btn-danger">Cancel</a>


  </form>

  <span>
      <p class="text-danger" *ngIf="errorMessage">
        {{errorMessage}}
      </p>
    </span>

</div>