<nav class="navbar fixed-top navbar-expand-sm navbar-dark">
  <a class="navbar-brand" href="#">WarZ Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/Home']">Home <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/Home/Download']">Download</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/Home/Pricing']">Pricing</a></li>

      <li class="nav-item"><a class="nav-link" [routerLink]="['/Home/Login']" *ngIf="!isAuthenticated;">Login</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/Home/Register']" *ngIf="!isAuthenticated;">Register</a></li>

      <li class="nav-item"><a class="nav-link" [routerLink]="['/User/Dashboard']" *ngIf="isAuthenticated;">Dashboard</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/User/Refill']" *ngIf="isAuthenticated;">Refill</a></li>
      <li class="nav-item"><a class="nav-link" [routerLink]="['/User/Logout']" *ngIf="isAuthenticated;">Logout</a></li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>