/* You can add global styles to this file, and also import other style files */
html { background:#000;}

nav { background-color:rgba(0, 0, 0, 0.685);}
body { background-color:#000; color:#ccc;}
div#form_login { background-color:rgba(0, 0, 0, 0.685);}
